.flex_sec5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5_con1{
    width: 90%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 5px 7px 8px rgb(44, 44, 44);
    
}
.sec5_con1 h2{
    margin: 2%;
    text-align: center;
}
.sec5_con1 p{
    margin: 2%;
}
.sec5_con1 ul li{
    margin-left: 5%;
    margin-bottom: 2%;
}