.flex_sec3{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 5px 7px 8px rgb(44, 44, 44);
}
.sec3_con1{
    flex-grow: 1;
    width: 350px;
    height: 350px;
    background-color: violet;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(com_a.jpg);
    
}
.sec3_con2{
    flex-grow: 1;
    width: 350px;
    height: 350px;
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(com_m.jpg);
}